<%= form_for(atm_mach) do |f| %>
  <% if atm_mach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atm_mach.errors.count, "error") %> prohibited this atm_mach from being saved:</h2>

      <ul>
      <% atm_mach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
